<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <ipSecurity allowUnlisted="false">
       <!-- YOUR IP Address -->
       <add allowed="true" ipAddress="150.249.199.216" subnetMask="255.255.255.0" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>